<% layout( 'layout' ) -%>

<script>

$(document).ready (function () { 
	/*
	function openGallery(i){ 
		jQuery('a.gallery'+i).colorbox({ 
			opacity:0.5 , 
			rel:'group'+i, 
			maxHeight: '470px', 
			maxWidth:'800px', 
			fadeout:500, 
			transition:'none', 
			photo:true
		});
	}	*/
});	
</script>


  <!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Image Database</h1>
  
  <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  <p>To see the difference between static and fixed top navbars, just scroll.</p>
  <p hidden>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
  

   
</div>



<% i = 0 %>
<% items.forEach( function ( item ){ %>
<% i++ %>
<% if(i % 2 === 1){ %>
<div class="row-fluid">
<% } %>
	<div class="col-md-6 portfolio-item">
		<div class="panel-default panel">
		<div class="panel-heading">
			<h4><%= item.filename %> <a class="button" style="display:inline;float:right;" href="/images/edit/<%= item._id %>" title="Update this item item"> 				<span class="right glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a></h4>
		</div>
			
		<div class="panel-body">
		<div class="img">
			<img	style="max-height:200px; max-width:100%;" src="<%= item.url %>"/><br>
		</div>
			<div class="caption">
				<%=: item.caption %><br>
			</div>
			<div class="portal">
				<%= item.portal %><br>
			</div>
			<div class="url">
				<%= item.url %><br>
			</div>
			
		</div>
		<div class="tags panel-footer">
				<span class="glyphicon glyphicon-tags" aria-hidden="true">.</span> 
				<% item.tags.forEach( function ( tag ){ %>
				
					 <a href="/tag/<%=: tag %>"><%=: tag %></a>, 
					<% if (tag) { %><% }%>
				<% }); %>
			</div>
	</div>
	</div>
	<% if(i % 2 === 0){ %>	
</div>
	<% }%>


<!--<script>
$('a.gallery<%= i %>').colorbox({
	rel:'group<%= i %>',
	opacity:0.5 , 
			maxHeight: '470px', 
			maxWidth:'800px', 
			fadeout:500, 
			transition:'none', 
			photo:true
	});
</script>-->
<% }); %>

