<% layout( 'layout' ) -%>


<script>
$(document).ready (function () {  
	$.get('/json/images/by-pattern/<%=: items.name | replace:/-/g,' '  %>', function(data){
		$.each(data, function(i, val){ 
			var image = $('<img />')
				.attr('src', val.url)
				.attr('alt', val.filename);
			var link = $('<a></a>')
				.attr('href','#')
				.addClass('thumbnail')
				.append(image);
			var div = $('<div></div>')
				.append($('<h4></h4>').html('#'+(i+1)+': '+val.portal)) 	
				.append(link)
				.append($('<span></span>').html(val.caption))
				;
			$('.evidence')
				.append(div);
				
		});
	});	
	
	
});	
</script>


  <!-- Main component for a primary marketing message or call to action -->

<br><br><br>
<div class="col-md-8 portfolio-item" id="<%=: items.name | replace:/\ /g,'-'  %>">
	<div class="panel">
		<div class="panel-heading">
			<h4><%= items.name %> 
			<a class="button" style="display:inline;float:right;" href="/patterns/edit/<%= items._id %>" title="Update this item item"> 				
				<span class="right glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a></h4>
		
		</div>	
		<div class="panel-body">
			<div class="context mark"><%= items.context  %>
			</div>
			<div class="sep" hidden class="text-center pagination-centered">
				<span class="glyphicon glyphicon-play" aria-hidden="true"></span> 
			</div>
			<div class="problem" style="font-weight:bold;">
			<%=: items.problem | replace:'\n','' %>
			</div>
			<div class="forces mark"><%= items.forces %></div>
			<div class="solution" style="font-weight:bold;"><%= items.solution %></div>
			<div class="consequences mark"><%= items.consequences %></div>
			<div class="examples">
			<% if (items.evidence != undefined) { %>
				<% items.evidence.forEach( function ( example ){ %>
					<div class="col-md-6" style="position:absolut; bottom:0">
       			<img	style="max-height:300px; max-width:100%;" src="/vi-lab/img/screenshots/<%= example.example %>"/><br> 
       			<span class="mark"><%= example.rational %></span>
    			</div>
					
				<% }); %>
			<% }; %>	
			</div>
			<div class="related mark"><%= items.name %></div>
			
		</div>
		
		<div class="panel-footer" hidden>
		<!-- add comments -->
		<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			Comments <span class="badge">42</span>
			</a><br><br>
		<div class="collapse" id="collapseExample">
			<div class="">
				<span hidden class="right glyphicon glyphicon-comment" aria-hidden="true"></span> 
			</div>
		<!-- add new comment -->	
		</div>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Comment this learning environment" aria-describedby="basic-addon2">
					<span class="input-group-btn">
        <button class="btn btn-default" type="button">send</button>
      </span>
				</div>
			</div>
			
	<div class="col-md-8 evidence">
		<div class="spacer200"></div>
	</div> 	
		
	</div>
</div>	

<div class="col-md-4 evidence">
	<div class="spacer200"></div>
	<a href="">add to favorites</a><br><br>
	Category: <br>
	Parent Pattern: <br>
	<a href="/portals/patterns/<%=: items.name | replace:/\ /g,'-' %>">List all application incorporating this pattern</a>
		
	</div>


	

