
<% layout( 'm_layout' ) -%>

<div class="jumbotron">
	<div class="container">
  <h2>Modul bearbeiten: <%= item.modultitel %> (<%= item.modulnr1 %>)</h2>
  </div>
</div>

<div class="container">
	<div class="col-md-8">
		<div id="errors"></div>
    <form class="modules-edit" id="form"></form><!--  action="/modules/update/<%= item._id %>" type="POST"-->
    <div id="res" class="alert"></div>
   </div> 
</div>
   
    <script src='/static/js/jquery.min.js' type='text/javascript'></script>
		<script src="/static/js/underscore.js" type="text/javascript" ></script>
		<script src="/static/js/jsv.js"type="text/javascript" ></script>
    <script src="/static/js/jsonform.js" type="text/javascript" ></script>
    
  
 
    <script type="text/javascript">
 
      var formObject = {
        schema: {
          "modultitel": {
            type: 'string',
            title: 'Modultitel',
            default: '<%= item.modultitel %>',
            required: true
          },
           "modulnr1": {
            type: 'string',
            title: 'Modulnummer (1)',
            default: '<%= item.modulnr1 %>',
            required: true
          },
           "modulnr2": {
            type: 'string',
            title: 'Modulnummer (2)',
            default: '<%: if(item.modulnr2 !== undefined){ %><%= item.modulnr2 %><%: }%>',
            allowEmpty: true,
            required: false
          },
           "courses": {
            type: 'string',
            title: 'Studiengänge',
            default: '<%= item.courses %>',
            description: "Bei Angabe mehrerer Studiengänge sollten diese durch ein Komma voneinander getrennt werden",
            required: true,
            minLength: 4
          },
          "university": {
            type: 'string',
            title: 'Hochschule',
            default:  '<%= item.university %>',
            "enum": [
							"TUD",
							"HSZG",
							"TUD/IHI"
						],
            required: true
          },
          "type": {
						"title": "Typ",
						//"description": "Your gender",
						"type": "string",
						default: '<%= item.type %>',
						"enum": [
							"Bachelor",
							"Master",
							"Diplom",
							"Diplom/Bachelor"
						],
						required: true
					},	
					"language": {
						"title": "Sprache",
						"type": "string",
						default: '<%= item.language %>',
						"enum": [
							"Deutsch",
							"Englisch",
							"Deutsch/Englisch"
						],
						required: true
					},	
          "summer_winter": {
						"title": "WS/SS",
						"type": "string",
						default: '<%= item.summer_winter %>',
						"enum": [
							"SS",
							"WS",
							"WS + SS"
						],
						required: true
					}, 
					"tags": {
						"title": "Schlüsselwörter",
						"type": "string",
						default: '<%=: item.tags | join:', ' %>',
						required: false
					}, 
					/**************************/
					"sws_total": {
            type: 'number',
            title: 'Semesterwochenstunden',
            default: '<%: if(item.sws_total !== undefined){ %><%= item.sws_total %><%: }%>',
            required: true
          },
          "sws": {
		        "type": "object",
							"title": "SWS",
							"properties": {
								"vorlesung": {
									"type": "number",
									"title":"Vorlesung",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.vorlesung !== undefined){ %><%= item.sws.vorlesung %><%: }%>',
								},
								"seminar": {
									"type": "number",
									"title":"Seminar",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.seminar !== undefined){ %><%= item.sws.seminar %><%}%>',
								},
								"ringvorlesung": {
									"type": "number",
									"title":"Ringvorlesung",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.ringvorlesung !== undefined){ %><%= item.sws.ringvorlesung %><%: }%>',
								},
								"ubung": {
									"type": "number",
									"title":"Übung",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.ubung !== undefined){ %><%= item.sws.ubung %><%: }%>',
								},
								"tutorium": {
									"type": "number",
									"title":"Tutorium",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.tutorium !== undefined){ %><%= item.sws.tutorium %><%: }%>',
								},
								"praktikum": {
									"type": "number",
									"title":"Praktikum",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.praktikum !== undefined){ %><%= item.sws.praktikum %><%: }%>',
								},
								"exkursion": {
									"type": "number",
									"title":"Exkursion",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.exkursion !== undefined){ %><%= item.sws.exkursion %><%: }%>',
								},
								"projekt": {
									"type": "number",
									"title":"Projekt",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.projekt !== undefined){ %><%= item.sws.projekt %><%: }%>',
								},
								"berufspraktikum": {
									"type": "number",
									"title":"Berufspraktikum",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.berufspraktikum !== undefined){ %><%= item.sws.berufspraktikum %><%: }%>',
								},
								"sprachkurs": {
									"type": "number",
									"title":"Sprachkurs",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.sprachkurs !== undefined){ %><%= item.sws.sprachkurs %><%: }%>',
								},
								"elearning": {
									"type": "number",
									"title":"E-Learning",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.elearning !== undefined){ %><%= item.sws.elearning %><%: }%>',
								},
								"ubung_seminar": {
									"type": "number",
									"title":"Übungen/Seminar",
									minimum: 0,
									maximum: 30,
									step:1,
									default: '<%: if(item.sws.ubung_seminar !== undefined){ %><%= item.sws.ubung_seminar %><%: }%>',
								}
							}
					},
          "workload": {
            type: 'number',
            title: 'Workload (h)',
            default: '<%: if(item.workload !== undefined){ %><%= item.workload %><%: }%>',
            required: true
          },
          "workload_self": {
            type: 'number',
            title: 'Workload im Selbststudium',
            default: '<%: if(item.workload_self !== undefined){ %><%= item.workload_self %><%: }%>',
            required: true
          },
          "ects": {
            type: 'number',
            title: 'ECTS',
            default: '<%: if(item.ects !== undefined){ %><%= item.ects %><%: }%>',
            required: true,
            minimum: 0.5,
      			maximum: 50,
      			step:0.5
          },
          "pvl": {
						"type": "array",
						"title": "Prüfungsvorleistungen",
						"items": {
						  "type": "number",
						  "title": "Option",
						  "enum": [
						  	"referat",
						    "labor",
						    "beleg",
						    "testat",
						    "protokoll",
						    "moderation"
						  ]
						},
						"default": Object.keys(<%-JSON.stringify(item.pvl)%>)
					},
					"pl": {
						"type": "array",
						"title": "Prüfungsleistungen",
						"items": {
						  "type": "number",
						  "title": "Option",
						  "enum": [
						  	"klausur",
						    "mdlpruefung",
						    "referat",
						    "praesentation",
						    "belegarbeit",
						    "seminararbeit",
						    "projektarbeit",
						    "praktikumsprotokoll",
						    "praktikumsbericht",
						    "exkursionsbericht",
						    "laborarbeit",
						    "forschungsplan",
						    "elearningtest"
						  ]
						},
						"default": Object.keys(<%-JSON.stringify(item.pl)%>),
					},
					/***************************/
					"struktureinheit": {
            type: 'string',
            title: 'Struktureinheit der Hochschule',
            default: '<%: if(item.struktureinheit !== undefined){ %><%= item.struktureinheit %><%: }%>',
            allowEmpty: true,
            required: false
          },
					"modulverantwortlicher": {
            type: 'string',
            title: 'Modulverantwortliche',
            default: '<%: if(item.modulverantwortlicher !== undefined){ %><%= item.modulverantwortlicher %><%: }%>',
            allowEmpty: true,
            required: false
          },
          "email": {
            type: 'email',
            title: 'E-Mail',
            default: '<%: if(item.email !== undefined){ %><%= item.email %><%: }%>',
            allowEmpty: true,
            required: false
          },
          "lecturers": {
            type: 'string',
            title: 'Weitere Dozenten',
            default: '<%: if(item.lecturers !== undefined){ %><%= item.lecturers %><%: }%>',
            allowEmpty: true,
            required: false
          },
          "remarks_general": {
            type: 'textarea',
            title: 'Allgemeine Bemerkungen',
            default: '<%: if(item.remarks_general !== undefined){ %><%= item.remarks_general %><%: }%>',
            description: "(öffentlich sichtbar)",
            allowEmpty: true,
            required: false
          },
          "remarks_internal": {
            type: 'textarea',
            title: 'Interne Bemerkungen',
            default: '<%: if(item.remarks_internal !== undefined){ %><%= item.remarks_internal %><%: }%>',
            allowEmpty: true,
            required: false
          }
        },
        /**************************/
        "form": [
		      {
						"type": "submit",
						"title": "Speichern"
					},
					{
		        "type": "button",
		        "title": "Abbrechen"
		      },  
					{
						"key": "modultitel",
						"type": "text"
					},
        	{
						"key": "modulnr1",
						"type": "text"
					},
        	{
						"key": "modulnr2",
						"type": "text"
					},
        	{
						"key": "courses",
						"type": "text"
					},
        	{
						"key": "university",
						"type": "radios",
						"titleMap": {
						  "TUD": "TU Dresden",
						  "TUD/IHI": "TU Dresden / Internationales Hochschulinstitut",
						  "HSZG": "Hochschule Zittau/Görlitz"
						}
					},
        	{
						"key": "type",
						"type": "radios",
						"titleMap": {
						  "Bachelor": "Bachelor",
						  "Bachelor/Diplom": "Bachelor/Diplom",
						  "Master": "Master",
						  "Diplom":"Diplom"
						}
					},
        	{
						"key": "language",
						"type": "radios"
					},
        	{
						"key": "summer_winter",
						"type": "radios",
						"titleMap": {
						  "WS": "Wintersemester",
						  "SS": "Sommersemester",
						  "WS + SS": "Winter- und Sommersemester"
						}
					},
					{
						"key": "tags",
						"type": "textarea"
					},
        	{
						"key": "sws_total",
						"type": "text"
					},
					{
						"key": "sws",
						"type": "fieldset",
						"items": {
						  "vorlesung":"Vorlesung",
					    "seminar":"Seminar",
					    "ringvorlesung":"Ringvorlesung",
					    "ubung":"Übung",
					    "tutorium":"Tutorium",
					    "praktikum":"Praktikum",
					    "exkursion":"Exkursion",
					    "projekt":"Projekt",
					    "berufspraktikum":"Berufspraktikum",
					    "sprachkurs":"Sprachkurs",
					    "elearning":"E-Learning",
					    "ubung_seminar":"Übung/Seminar"
						}
					},
					{
						"key": "workload",
						"type": "text"
					},
					{
						"key": "workload_self",
						"type": "text"
					},
					{
						"key": "ects",
						"type": "text"
					},
        	{
						"key": "pvl",
						"type": "checkboxes",
						"titleMap": {
						  "referat":"Referat",
					    "labor":"Labor",
					    "beleg":"Beleg",
					    "testat":"Testtat",
					    "protokoll":"Protokoll",
					    "moderation":"Moderation"
						}
					},
					{
						"key": "pl",
						"type": "checkboxes",
						"titleMap": {
						  	"klausur":"Klausur",
						    "mdlpruefung":"Mündliche Prüfung",
						    "referat":"Referat",
						    "praesentation":"Präsentation",
						    "belegarbeit":"Belegarbeit",
						    "seminararbeit":"Seminararbeit",
						    "projektarbeit":"Projektarbeit",
						    "praktikumsprotokoll":"Praktikumsprotokoll",
						    "praktikumsbericht":"Praktikumsbericht",
						    "exkursionsbericht":"Exkursionsbericht",
						    "laborarbeit":"Laborarbeit",
						    "forschungsplan":"Forschungsplan",
						    "elearningtest":"E-Learning Test"
						}
					},
					{
						"key": "struktureinheit",
						"type": "text"
					},
						{
						"key": "modulverantwortlicher",
						"type": "text"
					},
					{
						"key": "email",
						"type": "text"
					},
					{
						"key": "lecturers",
						"type": "text"
					},	
					{
						"key": "remarks_general",
						"type": "textarea"
					},	
					{
						"key": "remarks_internal",
						"type": "textarea"
					}
					 	
				],
        //
        "onSubmit": function (error, values) {
        	
          if (error) {
            console.error(JSON.stringify( error ))
          }
          else {

          	values.tags = values.tags.split(/,|, /);
          	values.courses = values.courses.split(/,|, /);

          	$.ajax({
								type: "POST",
								url: "/modules/update/<%= item._id %>",
								data: JSON.stringify( values ),
								success: function(){ 
									window.location.replace("/modules/view/<%= item._id %>");
								},
								error: function(err){
									console.error(JSON.stringify(err))
								},
								contentType : "application/json"
							});
          }
        },
        "displayErrors": function (errors, formElt) {
					for (var i=0; i<errors.length; i++) {
						errors[i].message = "Avast! Ye best be fixin' that field!";
					}
					$('#errors').jsonFormErrors(errors, formObject);
				}
      }
      
      $('form.modules-edit').jsonForm( formObject );
    </script>
