<% layout( '../m_layout' ) -%>

<div  class="jumbotron">
	<div class="container">
	<h2>
		Nutzer bearbeiten: <img width="20" src="/static/img/user-icons/user-<%= items.id %>.png" />  <a href="/users/view/<%= items.username %>"><%= items.username %></a>
	</h2> 
  </div>
</div>
<div class="container">
<div class="col-md-10">
  <div class="edit-form">
    <form action="/admin/users/update/<%= items._id %>" method="post" accept-charset="utf-8">
			
       <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Vorname</span>
				<input type="text" class="form-control" placeholder="Vorname" aria-describedby="sizing-addon1" name="firstname" value="<%= items.firstname %>">
      </div>
      <br> 
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Name</span>
				<input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1" name="name" value="<%= items.name %>">
      </div>
      <br>
        <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">E-Mail</span>
				<input type="text" class="form-control" placeholder="E-Mail" aria-describedby="sizing-addon1" name="email" value="<%= items.email %>">
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Benutzername</span>
				<input type="text" class="form-control" placeholder="Benutzername" aria-describedby="sizing-addon1" name="username" value="<%= items.username %>">
      </div>
      <br>
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Passwort</span>
				<input type="password" class="form-control" placeholder="Passwort" aria-describedby="sizing-addon1" name="password" value="<%= items.password %>">
      </div>
      
      <br> 
      <div class="input-group input-group-xs">
				<span class="input-group-addon" id="sizing-addon1">Rolle</span>
				<input type="text" class="form-control" placeholder="Rolle" aria-describedby="sizing-addon1" name="title" value="<%= items.role %>">
      </div>
      <br>
      
    
			<div class="buttons">
				<button type="submit" class="btn-primary btn">aktualisieren</button>  <a href="/admin/users">abbrechen</a> <a class="alert-btn right" href="/admin/users/destroy/<%= items._id %>" title="Delete this item item">löschen</a>
			</div>
    </form>
	</div>
</div>
</div>
